<link rel="stylesheet" href="~/MemberPanel/assets/sass/contact.css">
<link rel="stylesheet" href="~/MemberPanel/assets/css/contact.css">


<div style=" height: 279px; padding-top: 78px;">
    <div style="text-align:center;" class="alert alert-danger" role="alert">
        Xahiş olunur Emailinizi təsdiq edəsiniz... 
    </div>
</div>



@section scripts {
    <script asp-append-version="true" src="~/MemberPanel/assets/js/contact.js"></script>

  }