@model Product


<form style="background-color:white;" asp-action="ProductPage" asp-controller="Product" id="search">
    <div style="display:flex;width:607px;">
        <input type="search" name="search" placeholder="What do you u need?">
        <button style="width:114px;" id="search">Search</button>
    </div>
</form>



