@model List<Category>

<link rel="stylesheet" href="~/MemberPanel/assets/sass/contact.css">
<link rel="stylesheet" href="~/MemberPanel/assets/css/contact.css">

@*<link rel="stylesheet" href="~/MemberPanel/assets/sass/home.css">
    <link rel="stylesheet" href="~/MemberPanel/assets/css/home.css">*@

@foreach (var item in Model)
{
    <a asp-action="ProductCategoryPage" asp-controller="Product" asp-route-id="@item.Id">@item.Name (@item.Products?.Count())</a>
}