@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Dosis:wght@600&display=swap');

$primaryBtn:#7fad39;

*{
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}

// start-header

.header-first-part{
    padding-top:10px;
    background-color: #f5f5f5;
    
    .mail-order{
        ul{
            display: flex;
           

            li{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .right-first-header{       
        .exchange-login-social{        
            display:flex;
            justify-content:flex-end;
            ul{
                display: flex;


                .social{
                    display: flex;
                    justify-content:space-between;
                    width:150px;
                    padding-right:20px;
                    a{
                        text-decoration: none;
        
                        i{
                            color: #1c1c1c;
                            font-size:14px;
                        }
                    }
                }


                .exchange{
                    .dropbtn {

                        font-size: 14px;
                        border: none;
                        cursor: pointer;
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        text-align: center;
                        display:inline-block;
                        width:100px;
                        background-color:#f5f5f5;
                        i{
                            color: rgba(0, 0, 0, 0.5)
                        }
                     
                      }
                      
                      .dropdown {
                        position: relative;
                        display: inline-block;
                      
                      }
                      
                      .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 100px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                      
                      }
                      
                      .dropdown-content a {
                        color: white;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        background-color: black;
                        transition: all 0.5s;

                      }
                      
                      .dropdown-content a:hover {background-color: gray;}
                      
                      .dropdown:hover .dropdown-content {
                        display: block;
                        transition: all 0.5s;

                      }
                      
                   
                }

                .login{
                    .login-icon {
                        text-align: center;
                        padding-left:20px;
                       
                        i{
                            font-size: 12px;
                            cursor: pointer;
                        }
                        span{
                            font-size:14px;
                            margin-left:5px;
                            cursor: pointer;
                            
                        }

                        a{
                            text-decoration: none;
                            color: black;
                            &:hover{
                                color: $primaryBtn;
                                transition: all 0.3s;
                            }
                          
                        }
                    }
                }


            }
    
        

    
            
        }
    }
   
}

.header-second-part{
    padding-top:10px;

    .ogani{
        cursor:pointer;
    }

    .col-6{
        ul{
            display: flex;
            justify-content:space-around;
            padding-top:20px;

            #drop:hover{
                color: #7fad39;
                transition: all 0.5s;
            }

            li{
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    letter-spacing: 2px;


                }
                a:focus{
                    color: #7fad39;
                }
            }
        }
        .dropbtn {
            
            color: black;
            background-color:white;
            font-size: 16px;
            
            border: none;
            cursor: pointer;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color:black;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
           
          }
          
          .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-weight: 400;
            font-size:13px;
            transition: all 0.5s;
          }
          
          .dropdown-content a:hover {background-color: grey;color: white;}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          .dropdown:hover .dropbtn {
            color: #7fad39;
          }
    }

    .col-3{      
        padding-top:4px;
        .basket-heart-price{
            padding-top:15px;
            padding-left:20px;
            display:flex;
            justify-content: flex-end;
           

            .heart{
                position:relative;
                right:5px;

                .heart-count{
                    position:absolute;
                    width:16px;
                    height: 16px;
                    border-radius:16px;
                    left: 19px;
                    top: -4px;
                    color:white;
                    background-color:#7fad39;
                    font-size:12px;
                   font-family:Arial, Helvetica, sans-serif;
                    padding-left: 4px;
                    padding-bottom: 5px;
                }
            }
          
          

            .basket{
                margin-left:15px;
                position: relative;

                .basket-count{
                    position:absolute;
                    width:16px;
                    height: 16px;
                    border-radius:16px;
                    left: 19px;
                    top: -4px;
                    color:white;
                    background-color:#7fad39;
                    font-size:12px;
                   font-family:Arial, Helvetica, sans-serif;
                    padding-left: 4px;
                    padding-bottom: 5px;
                }
            }
            .price{
                margin-left:30px;
                span{
                    color: rgba(0, 0, 0, 0.4)
                }
            }

           
              
            
             i{
                 font-size:20px;
                 color: black;
              }
               
            
        }
      
    }
}

.header-third-part{

  
   padding-top:20px;
    .col-lg-3{
        .dropbtns {
            background-color: #7fad39;
            color: white;          
            font-size: 16px;
            font-weight: bold;
            letter-spacing:1px;
            border: none;
            cursor: pointer;
            width: 260px;
            height: 47px;
          }
          
        
         
          
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 260px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
           
            overflow: hidden;
            background-color: white;
            
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            padding-left: 50px;
            text-decoration: none;
            display: block;
            font-size: 14px;
          }
          
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {background-color: #ddd}
          
          /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
          .show {display:block;}
    }

    .col-lg-6{
        .search-input-category-btn{
            border:none ;
            border: 1px solid rgba(0,0,0,0.1);
            height:45px;
           
            
            .dropdown-cate{
                #all-categ{
                    border: none;
                    height:45px;
                    width: 150px;
                    font-weight:bold;
                    // background-color:white;
                    // border-right: 1px solid rgba(0, 0, 0, 0.1);
                }

                .dropdown-content-cate{
                    width: 150px;
                    min-height:0px;
                    border:1px solid rgba(0,0,0,0.1);
                    padding-left: 10px;
                    padding-top: 10px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    line-height:35px;
                    background-color:white;
                    display: none;
                    z-index: 1;
                    position: absolute;
                  
                    
                    

                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 14px;
                        display:block;
                       
                        &:hover{
                            padding-left: 10px;
                            width: 100%;
                            background-color:rgba(0, 0, 0, 0.1);
                         
                          
                        }
                       
                    }
                }
            }

            #search{
                height:45px;
                width: 110px;
                border:none;
                background-color:#7fad39;
                color: white;
                font-weight: bold;
            }

            @media only screen and (max-width: 768px){
                .dropdown-cate{
                    display: none;


                }

                

               
            }



            input{
                border: none;
                height:45px;
                width:370px;      
                outline:none;
                padding-left: 20px;
                opacity: 0.5;
            }
          

        }
    }

    .phone-icon {
        display:flex;
        justify-content: flex-end;
        gap:30px;
        
        .icon{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 13px;
            padding-left: 16px;
            background-color:#f5f5f5;
            border:none;
            i{
                color:$primaryBtn ;
            }
        }

        .phone{
            .number{
                font-weight: bold;
                font-size:17px;
                
            }

            .support{
                font-size:14px;
                color: rgba(0, 0, 0, 0.4);
            }
        }
    }

}

//End-header






//start-body

.background-potatoes{
    margin-top:25px;
    position: relative;
    .img{
        width: 100%;
        height: 150px;
    }
    .name{
        position: absolute;
        top:30px ;
        left: 600px;

        p{
            font-weight:bold;
            font-size:40px;
            color: white;
            height:45px;
        }
        span{
            padding-left: 55px;
            color:white;

            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color:$primaryBtn;
                    transition: all 0.2s;
                    text-decoration: underline;

                }
            }
        }
       
    }
}

.filter-product{

    margin-top: 100px;
    .filter{

        .cate{
            p{
                font-weight:bold;
                font-size:30px;
            }
    
            a{
                text-decoration: none;
                color: black;
                display: block;
                font-weight:300;
                line-height:35px;
    
                &:hover{
                    color: $primaryBtn;
                    transition: all 0.2s;
                }
            }
        }

        .price{

            padding-top:30px;
            .name{

                font-weight: bold;
                font-size: 25px;
            }
            
           /* This line can be removed it was just for display on CodePen: */
  
  .slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
    width: 250px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background:  $primaryBtn;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  .noUi-target.noUi-connect {
  }
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }
        }  
        
        .colors{
            padding-top: 25px;
            .name{
                font-weight: bold;
                font-size: 25px;
            }

            .color-filter{
                display:flex;
                gap: 60px;

                .left,.right{
                    .color-white {
                        display:flex;
                        padding-top: 20px;
                        
                        a{
                            color: black;
                            text-decoration: none;
                            font-weight: 300;
                            font-size:16px;
                            margin-left:10px;
                          
                        }
                        .white{
                            width:14px;
                            height: 14px;
                            border-radius: 14px;
                            border: none;
                        }

                       
                    }
                }

               
            }
        }
      
        .popular-size {
            padding-top: 50px;
            .name{
                font-weight: bold;
                font-size: 25px;
            }
        }
    }

    .sale-off{
        p{
            font-size: 37px;
            font-weight: bold;
            &::after{
                content: "";
                display: block;
                width: 125px;
                height: 4px;
                background-color: $primaryBtn;
            }
        }
    }

    .sale-products{
        
        .picture{
            height: 270px;
            width: 270px;           
           position:relative;

           a{
               color: black;
           }

           

           &:hover{
            transition: all 0.5s;
           
            .icons{
                div{
                    display: block;

                }
              
                
            }
           }

          

           .icons{
               display: flex;
               gap: 20px;
               position:absolute;
               bottom:20px;
               left: 60px;

               

               .detail-icon{
                   i{
                       padding-left:5px;
                   }
               }
               .basket-icon{
                   i{
                    padding-top:6px;
                   }
               }
               .heart-icon{
                padding-left: 12px;
               }

               div{
                   border: 1px solid rgba(0,0,0,0.1);
                   width: 39px;
                   height: 39px;
                   border-radius:39px;
                   padding-top:5px;
                   padding-left: 10px;
                   background-color:white;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                   display:none;
                   
                   &:hover{
                       background-color:$primaryBtn;
                       cursor: pointer;
                       

                       i{
                           transform:rotate(360deg);
                           color:white;
                           transition: all 0.5s;
                       }
                   }

                   

                   i{
                       font-size:13px;
                       
                   }
               }
           }

           .cate-name {
               text-align: center;
               padding-top:10px;
               font-weight: 100;
               font-size:16px;
               height:20px;
           }

           .name {
               text-align: center;
               padding-top:15px;

               a{
                   text-decoration:none;
                   color:black;
               }
           }
           .price{
               font-weight: bold;
               text-align: center;
               font-size: 16px;
               letter-spacing:1px;

               span{
                   text-decoration: line-through;
                   font-weight: 300;
                   font-size:13px;
                   margin-left:10px;
                   color: rgba(0, 0, 0, 0.3);
               }

             }
           
          
        }

        .owl-nav{
            text-align: center;
            padding-top: 20px;

        }

        .owl-next{
          
            margin-left: 30px;
            span{
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius:30px;

                &:hover{
                    background-color:$primaryBtn;
                    color: white;

                }
            } 
        }

        .owl-prev{
           
            span{
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius:30px;
             
               

                &:hover{
                    background-color:$primaryBtn;
                    color: white;
                   

                }
            } 
        }
    }

    .sort-by-product-count{
        display: flex;
        justify-content: space-between;
        .sortby{
            span{
                font-weight: 200;

            }

            #default{
                border:none;
                width: 80px;
                margin-left:20px;
                font-size: 16px;
                font-weight: bold;
                background-color:white;

                #icon{
                    font-size: 14px;
                    margin-left:5px;
                    
                }
            }

            .sort-content{
                width: 80px;
                min-height: 90px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-left: 73px;
                display:none;

                
                
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                    display:block;
                    height: 30px;
                    padding-left: 10px;
                    padding-top: 5px;

                    &:hover{
                        background-color:$primaryBtn;
                        color: white;
                        padding-left: 10px;

                    }
                }
            }
        }

        .product-count{
            span{
               
                color: rgba(0, 0, 0, 0.2);
                font-size: 16px;
                margin-left: 10px;

            }
        }
    }

    .products{

        margin-top: 40px;
        
        .picture{
            height: 270px;
            width: 270px;           
           position:relative;
           margin-bottom: 80px;

           a{
               color: black;
           }

           &:hover{
            transition: all 0.5s;
           
            .icons{
                div{
                    display: block;

                }
              
                
            }
           }

          

           .icons{
               display: flex;
               gap: 20px;
               position:absolute;
               bottom:20px;
               left: 60px;

               

               .detail-icon{
                   i{
                       padding-left:5px;
                   }
               }
               .basket-icon{
                   i{
                    padding-top:6px;
                   }
               }
               .heart-icon{
                padding-left: 12px;
               }

               div{
                   border: 1px solid rgba(0,0,0,0.1);
                   width: 39px;
                   height: 39px;
                   border-radius:39px;
                   padding-top:5px;
                   padding-left: 10px;
                   background-color:white;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                   display:none;
                   
                   &:hover{
                       background-color:$primaryBtn;
                       cursor: pointer;
                       

                       i{
                           transform:rotate(360deg);
                           color:white;
                           transition: all 0.5s;
                       }
                   }

                   

                   i{
                       font-size:13px;
                       
                   }
               }
           }

           .name {
               text-align: center;
               padding-top:15px;

               a{
                   text-decoration:none;
                   color:black;
               }
           }
           .price{
               font-weight: bold;
               text-align: center;
               font-size: 16px;
               letter-spacing:1px;

           }
           
          
        }
    }

    .pagination{
        display:flex;
        justify-content:center;
        gap: 27px;
        padding-left: 20px;
        padding-top: 20px;

        div{
            width: 30px;
            height: 30px;
           
            border:none;
            border: 1px solid rgba(0, 0, 0, 0.3);
            color: rgba(0, 0, 0, 0.3);
            padding-left: 9px;
            font-size:14px;
            padding-top: 3px;
            font-weight: bold;

            &:hover {
                color: white;
                background-color:$primaryBtn;
                cursor: pointer;
                border:none;
                padding-left: 10px;
                transition: all 0.7s;

            }
            &:focus{
                color: $primaryBtn;
            }

            
        }

        .active{
            color: white;
            background-color:$primaryBtn;
            border: none;
        }

        
    }
}



//end-body







//start-footer
.footer{
    background-color:#F3F6FA;
    padding-top: 40px;
    height: 280px;
    margin-top:120px;

   
   

    .adress-link-subs{
        .adress-phone-mail{
            padding-top: 20px;

            p{
                font-weight:300;
            }

        }

        .useful-link{
            font-size:16px;
            font-weight: bold;
            letter-spacing:0px;
        }
        .links{
            display:flex;
           
           
            .navbar{
                a{
                    display:block;
                    width: 100%;
                    text-decoration:none;
                    line-height:35px;
                    color: black;
                    font-weight:300;

                    &:hover{
                        color: $primaryBtn;
                        transition: all 0.2s;
                       
                    }
                }
            }
            .ourselves-link{
                padding-top: 8px;
                a{
                    display:block;
                    width: 100%;
                    text-decoration:none;
                    line-height:35px;
                    color: black;
                    font-weight:300;

                    &:hover{
                        color: $primaryBtn;
                        transition: all 0.2s;
                    }

                }
            }
        }

        .join{
            font-size:16px;
            font-weight: bold;
            letter-spacing:0px;
            height: 20px;
            
        }
        .get-email{
            font-size:13px;
            height: 50px;
        }

        input{
            border: none;
            width: 240px;
            height:45px;
            padding-left: 20px;
            border:1px solid rgba(0,0,0,0.1);

            &:focus{
                outline: 0;
            }
        }

        #subscribe{
            height:45px;
            width: 100px;
            border: none;
            color: white;
            background-color:$primaryBtn;
            font-weight:bold;
            font-size:14px;
            margin-left:-3px;


            
        }

        .sociall{
            display: flex;
            gap: 25px;
            padding-top: 20px;

            div{
                border: 1px solid rgba(0,0,0,0.1);
                width: 40px;
                height: 40px;
                border-radius:40px;
                padding:8px;
                padding-left:13px;
                background-color:white;
                font-size: 15px;
                cursor: pointer;

                &:hover{
                    background-color:$primaryBtn;
                    color: white;
                    transition:all 0.5s;
                    
                }
            }

            .face{
                padding:8px;
                padding-left:14px;
            }

            .twitt{
                padding:8px;
                padding-left:12px;
            }

            .pinter{
                padding:8px;
                padding-left:12px;
            }

        }
    }



}
//end-footer